*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #282c34;
  color: white;
}

.container{
  margin: auto;
  width: 60%;
  padding: 10px;
}

.info-container{
  background-color: #21222A;
  text-align: center;
}

.info-container > h6 {
  color: #FFBF00;
  font-size: small;
  font-weight: 350;
  margin-top: 5px;
}

.info-container > p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 10;
  font-size: smaller;
}

.obi{
  width: 150px;
  height: 150px;
  margin-top: 20px;
}

.contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact > a{
  padding: 7px;
}

.contact > a > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact > a > div > scan{
  padding: 1px;
}

.email{
  background-color: white;
  color: #21222A;
  width: 150px;
  padding: 4px;
  margin: auto;
  border-radius: 5px;
}

.linkedIn{
  background-color: #0072b1;
  color: white;
  width: 150px;
  padding: 4px;
  margin: auto;
  border-radius: 5px;
}

.about-container{
  background-color: #21222A;
  padding: 40px;
}

.about-container > h3 {
  padding-bottom: 10px;
}

.about-container > p {
  font-size: smaller;
  font-weight: 20;
}

.interests-container{
  background-color: #21222A;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: -10px;
  padding-bottom: 40px;
}

.interests-container > h3 {
  padding-bottom: 10px;
}

.interests-container{
  font-size: smaller;
  font-weight: 20;
}

footer{
  background-color: #000000;
  padding-left: 40px;
}

.footer-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-icons > scan {
  padding: 25px;
  color: #000000;
}

.icon{
  padding: 7px;
  background-color: #808080;
}


@media only screen and (min-width:360px) and (max-width: 768px) {
  .container{
    margin: auto;
    width: 100%;
    padding: 30px;
  }

  .contact{
    display: flex;
    flex-direction:row;
    justify-content: center;
  }
}
